@font-face {
  font-family: 'xicons';
  src:  url('fonts/xicons.eot?5azzut');
  src:  url('fonts/xicons.eot?5azzut#iefix') format('embedded-opentype'),
    url('fonts/xicons.ttf?5azzut') format('truetype'),
    url('fonts/xicons.woff?5azzut') format('woff'),
    url('fonts/xicons.svg?5azzut#xicons') format('svg');
    

    
    
  font-weight: normal;
  font-style: normal;
}

[class^="x-"], [class*=" x-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'xicons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.x-close1:before {
  content: "\e904";
}
.x-search:before {
  content: "\e905";
}
.x-avtar:before {
  content: "\e903";
}
.x-angle-up:before {
  content: "\f106";
}
.x-angle-down:before {
  content: "\f107";
}
.x-check:before {
  content: "\e5ca";
}
.x-close:before {
  content: "\e5cd";
}
.x-call:before {
  content: "\e900";
}
.x-call-2:before {
  content: "\e901";
}
.x-home:before {
  content: "\e902";
}



