<div ng-controller="vm.storyController as vm">
    <div class="popupNavigation">
        <md-button class="closeButton" ng-click="vm.closePopup()">
            <md-icon class="x-close"></md-icon>
        </md-button>

    </div>
    <div class="feedBackPop popInner">
      
        <div class="dtbl">
            <div class="dtd leftSide">
                <news-detail news-id="vm.newsId" popup="true"></news-detail>
            </div>

            <div class="dtd rightSide">

                <div class="managerTabs">
                    <ul class="tabController tabCtrl">
                        <!--<li data-target="box-guest" class="active" ng-click="GetGuestDetails()"><strong>Headline</strong> <md-button class="buttonRound done" ng-show="IsActiveGuests()"><md-icon class="x-check"></md-icon></md-button></li>-->
                        <li data-target="box-pkgDetail" class="active"><strong>Package Detail</strong> <md-button class="buttonRound done" ng-show="vm.slot.Description"><md-icon class="x-check"></md-icon></md-button></li>
                        <!--<li data-target="box-research"><strong>Research</strong> <md-button class="buttonRound done"><md-icon class="x-check"></md-icon></md-button></li>-->
                        <li data-target="box-guest" ng-click="vm.GetGuestDetails()"><strong>Guests</strong> <md-button class="buttonRound done" ng-show="vm.IsActiveGuests()"><md-icon class="x-check"></md-icon></md-button></li>
                    </ul>
                    <div class="scrollDv">
                        <div class="box-pkgDetail active">
                            <div class="labelRow">
                                <label>Type your package details</label>
                            </div>
                            <div class="allFields" ng-class="{'disabled': vm.IsEditorial}">
                                <textarea placeholder="Comment" ng-model="vm.slot.Description"></textarea>
                            </div>
                        </div>
                        <div class="box-guest">
                            <div class="labelRow">
                                <label>Guests</label>
                                <md-button class="buttonAdd" ng-click="vm.addGuest()"><md-icon class="x-add"></md-icon></md-button>
                            </div>
                            <div class="allFields wrapper" ng-repeat="gst in vm.slot.Guest" ng-class="{'disabled': vm.IsEditorial}">
                                <celebrity celebrity-id="gst.CelebrityId" celebrity-name="gst.CelebrityName"></celebrity>
                                <textarea placeholder="Type Question" ng-model="gst.Question"></textarea>
                                <md-radio-group class="guestLocSelect" ng-model="gst.LocationType">
                                    <md-radio-button value="1" class="md-primary first"><md-icon class="x-guest-studio"></md-icon>Studio</md-radio-button>
                                    <md-radio-button value="2"><md-icon class="x-guest-dsng"></md-icon> DSNG </md-radio-button>
                                    <md-radio-button value="3 Live"><md-icon class="x-guest-videocam"></md-icon> Video Live</md-radio-button>
                                </md-radio-group>
                            </div>
                        </div>
                    </div>
                    <div class="footerButtons">
                        <md-button class="reportButton grey" ng-click="vm.save()" ng-show="vm.IsManager"><span>Save</span><md-icon class="x-floppy"></md-icon></md-button>
                        <!--<md-button class="reportButton" ng-click="repDone = !repDone" ng-class="repDone ? 'completed' : ''"><span>Save and proceed</span><md-icon class="x-floppy"></md-icon></md-button>-->
                    </div>
                </div>
                <div class="feedBackBar">
                    <md-icon class="x-message-pop"></md-icon>
                    <h3>Feedback</h3>
                </div>
                <div class="feedBackContent">
                    <div class="scrollDv">
                        <!--<textarea placeholder="Type Question" ng-model="EditorialComment" style="width:100%;" ng-show="IsEditorial"></textarea>-->
                        <!--<div class="footerButtons" ng-show="IsEditorial">-->
                        <!--<md-button class="reportButton grey" style="float:right;" ng-click="InsertComment()"><span>Submit</span><md-icon class="x-floppy"></md-icon></md-button>-->
                        <!--</div>-->
                        <div class="sendText" ng-show="vm.IsEditorial">
                            <textarea placeholder="Type Question" ng-model="vm.EditorialComment" rows="4"></textarea>
                            <md-button ng-click="vm.InsertComment()"><md-icon class="x-send"></md-icon></md-button>
                        </div>
                        <ul class="allComments">
                            <li ng-repeat="comment in vm.slot.EditorialComments">
                                <div class="pic-Time">
                                    <!--<figure><img src="http://xerp:305/PortalImages/members/scaled/90/39735.jpg" width="90" height="120" alt="dp"></figure>-->
                                    <span>{{comment.UserName}}</span>
                                    <span>{{comment.Created}}</span>
                                </div>
                                <div class="showDetail" style="margin-left:80px;">{{comment.Comment}}</div>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>

