@font-face {
  font-family: 'xicons';
  src:  url('fonts/xicons.eot?73d1t8');
  src:  url('fonts/xicons.eot?73d1t8#iefix') format('embedded-opentype'),
    url('fonts/xicons.ttf?73d1t8') format('truetype'),
    url('fonts/xicons.woff?73d1t8') format('woff'),
    url('fonts/xicons.svg?73d1t8#xicons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="x-"], [class*=" x-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'xicons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.x-arrow_up:before {
  content: "\e904";
}
.x-arrow_right:before {
  content: "\e905";
}
.x-arrow_left:before {
  content: "\e906";
}
.x-arrow_down:before {
  content: "\e907";
}
.x-mail:before {
  content: "\e900";
}
.x-facebook:before {
  content: "\e901";
}
.x-twitter:before {
  content: "\e902";
}
.x-whatsapp:before {
  content: "\e903";
}

