<div class="newsSection jq-link01 jq-verify">

<div>TOTAL</div>
    <div>
        <ul>
            <li><span>VERIFIED</span></li>
            <li><span>VERIFIED</span></li>
            <li><span>VERIFIED</span></li>
        </ul>
    </div>
    <div>
        <ul>
            <li><span>WHATSAPP</span></li>
            <li><span>WHATSAPP</span></li>
            <li><span>WHATSAPP</span></li>
            <li><span>WHATSAPP</span></li>
        </ul>
    </div>



</div>