<style>
    .overlayy {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(144, 144, 144, 0.38);
        /*background: url(data:;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAgY0hSTQAAeiYAAICEAAD6AAAAgOgAAHUwAADqYAAAOpgAABdwnLpRPAAAABl0RVh0U29mdHdhcmUAUGFpbnQuTkVUIHYzLjUuNUmK/OAAAAATSURBVBhXY2RgYNgHxGAAYuwDAA78AjwwRoQYAAAAAElFTkSuQmCC) repeat scroll transparent\9;*/
        z-index: 9999;
        color: white;
    }

    .loader {
        margin: 250px 0 0 588px;
        border: 16px solid #f3f3f3; /* Light grey */
        border-top: 16px solid #9fd55c; /* Blue */
        border-radius: 50%;
        width: 120px;
        height: 120px;
        animation: spin 2s linear infinite;
    }

    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }

    .divTable {
        display: table;
        width: 60%;
    }

    .divTableRow {
        display: table-row;
    }

    .divTableHeading {
        background-color: #EEE;
        display: table-header-group;
    }

    .divTableCell,
    .divTableHead {
        border: 1px solid #999999;
        display: table-cell;
        padding: 3px 10px;
    }

    .divTableHeading {
        background-color: #EEE;
        display: table-header-group;
        font-weight: bold;
    }

    .divTableFoot {
        background-color: #EEE;
        display: table-footer-group;
        font-weight: bold;
    }

    .divTableBody {
        display: table-row-group;
    }

    .div_main {
        width: 660px;
        display: inline-flex;
        /* margin-left: 1px; */
        margin-bottom: 0px;
        margin-top: 15px;
        margin-left: 3px;
        background: #ecefeb;
        border: 1px solid #b3b0b0;
    }

    .date_picker {
        margin-left: 1079px !important;
        margin-top: -52px;
        position: absolute;
        z-index: 9999;
    }

    #toast-container .toast.toast-warning {
        z-index: 99999999 !important;
    }

    #toast-container .toast {
        z-index: 99999999 !important;
    }

    .boxtext {
        border: 1px solid #c2ced8 !important;
        background: #fff !important;
        border-radius: 3px !important;
        padding: 7px 10px !important;
        width: 100% !important;
        height: 35px !important;
        font-size: 11px !important;
    }

    .form-group {
        margin-bottom: 3px !important;
    }

    .bbx {
        margin-right: 30px;
    }
</style>
<div class="container">
    <div class="form-group date_picker" style="margin-left: 899px;">
        <news-date class="dateCtrl" range="true" on-date-select="vm.onDateRangeChange(startDate, endDate)"></news-date>
    </div>

    <div style="border: 1px solid #e3e3e3;background-color: white;margin-bottom: 15px;">
        <div class="div_main" ng-repeat="WhatsAppData in vm.WhatsAppData" ng-if="ReplyStatus != 1">
            <!--<div class="leftPart" style="width:200px;" ng-hide="WhatsAppData.myVar">
                <img src="/bolselfie/b050341007d4e49a474757ed35b8d3b7.png" alt="image" style="width: 60px;height: 70px;padding: 3px;box-shadow: 1px 1px 1px #d6d2d2;background: #fff !important;">
                <div class="form-group" style="float:right;margin-top:10px;">
                    <button type="button" class="btn btn-primary btn-sm" ng-click="vm.hide(WhatsAppData)">Edit</button>

                </div>
                <ul class="list-group" style="font-size:100%; margin-left:10px; margin-top:10px;">
                    <li class="list-group-item" style="text-align:left;">
                        <div>

                            <b> Name: {{WhatsAppData.name}} </b>
                        </div>
                    </li>

                    <li class="list-group-item" style="text-align:left;">
                        <div>
                            <b> Contact: {{WhatsAppData.name}} </b>
                        </div>
                    </li>

                </ul>
            </div>-->
            <div class="leftPart" style="width: 308px;height: 200px;">
                <ul class="list-group" style="font-size: 100%;margin-left: 10px;height: 200px;overflow: scroll;">
                    <li class="list-group-item" style="text-align:left;" ng-repeat="currItem in WhatsAppData.lsttags">
                        <div>
                            <b> {{$index +1}})</b>&nbsp;<span>{{currItem.Text}}</span>
                        </div>
                    </li>
                    <!--Location-->
                </ul>
            </div>
            <div class="rightPart" style="width:200px; " ng-show="!WhatsAppData.myVar">
                <div class="form-group" style="padding: 10px;margin-left: 2px;width: 346px;">
                    <ul style="display:inline-flex;">
                        <li class="bbx">
                            <div class="form-group">
                                <input type="text" ng-model="WhatsAppData.detail.Name"  class="form-control boxtext" placeholder="Enter Name">
                            </div>
                        </li>
                        <li>
                            <div class="form-group">
                                <input type="number" ng-model="WhatsAppData.detail.Phone" class="form-control boxtext" placeholder="Enter Phone">
                                <!--<input type="number" ng-model="WhatsAppData.detail.Phone" ng-change="vm.IsPhoneValid(WhatsAppData.detail.Phone)" class="form-control boxtext" placeholder="Enter Phone">-->
                            </div>
                        </li>
                    </ul>
                    <ul style="display:inline-flex;">
                        <li class="bbx">
                            <div class="form-group">
                                <input type="number" ng-model="WhatsAppData.detail.Age" class="form-control boxtext" placeholder="Enter Age">
                            </div>
                        </li>
                        <li>
                            <div class="form-group">
                                <input type="text" ng-model="WhatsAppData.detail.Area" class="form-control boxtext" placeholder="Enter Area">
                            </div>
                        </li>

                    </ul>
                    <ul style="display:inline-flex;">
                        <li class="bbx" style="margin-right: 42px;">
                            <div class="form-group">
                                <span style="font-size: 14px;">Male</span>&nbsp;
                                <input  type="radio" ng-model="WhatsAppData.detail.Gender" value="male" style="margin-right: 10px;">
                                <span style="font-size: 14px;">Female</span>&nbsp;
                                <input  type="radio" ng-model="WhatsAppData.detail.Gender" value="female">
                            </div>
                        </li>
                        <li>
                            <div class="form-group">
                                <input type="text" ng-model="WhatsAppData.detail.City" class="form-control boxtext" placeholder="Enter City">
                            </div>
                        </li>
                    </ul>
                    <ul style="display:inline-flex;">
                        <li class="bbx">
                            <div class="form-group">
                                <input type="text" ng-model="WhatsAppData.detail.Occupation" class="form-control boxtext" placeholder="Enter Occupation">
                            </div>
                        </li>
                        <li>
                            <div class="form-group">
                                <input type="text" ng-model="WhatsAppData.detail.Country" class="form-control boxtext" placeholder="Enter Country">
                            </div>
                        </li>
                    </ul>

                    <!--<div class="form-group">
                        <input type="text" ng-model="WhatsAppData.detail.Address" class="form-control" placeholder="Enter Address">
                    </div>-->
                    <!--<div class="form-group">
                        <input type="text" ng-model="WhatsAppData.detail.Education" class="form-control boxtext" placeholder="Enter Education">
                    </div>-->
                    <!--<div class="form-group">
                          <input type="text" ng-model="WhatsAppData.detail.Occupation" class="form-control" placeholder="Enter Occupation">
                      </div>
                      <div class="form-group">
                          <input type="number" ng-model="WhatsAppData.detail.Number" class="form-control" placeholder="Enter Number">
                      </div>
                    <div class="form-group">
                        <input type="text" ng-model="WhatsAppData.detail.Email" class="form-control" placeholder="Enter Email">
                    </div>
                    <div class="form-group">
                      <input type="text" ng-model="WhatsAppData.detail.fbProfile" class="form-control" placeholder="FB Profile">
                    </div>
                    <div class="form-group">
                      <input type="text" ng-model="WhatsAppData.detail.twitterProfile" class="form-control" placeholder="Twitter Profile">
                    </div>-->
                    <button type="submit" class="btn btn-primary btn-sm" ng-click="vm.PostEditForm(WhatsAppData,WhatsAppData.detail,WhatsAppData.name)">Submit</button>
                    <!--<button type="submit" class="btn btn-primary btn-sm" ng-click="vm.hideForm(WhatsAppData)">Back</button>-->
                </div>
            </div>
        </div>
    </div>
    <br />
</div>

<div ng-show="vm.Loader == true" class="overlayy">
    <div class="loader"></div>
</div>