
<style>

    .overlayy {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(144, 144, 144, 0.38);
            /*background: url(data:;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAgY0hSTQAAeiYAAICEAAD6AAAAgOgAAHUwAADqYAAAOpgAABdwnLpRPAAAABl0RVh0U29mdHdhcmUAUGFpbnQuTkVUIHYzLjUuNUmK/OAAAAATSURBVBhXY2RgYNgHxGAAYuwDAA78AjwwRoQYAAAAAElFTkSuQmCC) repeat scroll transparent\9;*/
            z-index: 99999;
            color: white;
        }

        .loader {
            margin: 250px 0 0 588px;
            border: 16px solid #f3f3f3; /* Light grey */
            border-top: 16px solid #9fd55c; /* Blue */
            border-radius: 50%;
            width: 120px;
            height: 120px;
            animation: spin 2s linear infinite;
        }

        @keyframes spin {
            0% {
                transform: rotate(0deg);
            }

            100% {
                transform: rotate(360deg);
            }
        }



    .divTable{
        display: table;
        width: 60%;
    }
    .divTableRow {
        display: table-row;
    }
    .divTableHeading {
        background-color: #EEE;
        display: table-header-group;
    }
    .divTableCell, .divTableHead {
        border: 1px solid #999999;
        display: table-cell;
        padding: 3px 10px;
    }
    .divTableHeading {
        background-color: #EEE;
        display: table-header-group;
        font-weight: bold;
    }
    .divTableFoot {
        background-color: #EEE;
        display: table-footer-group;
        font-weight: bold;
    }
    .divTableBody {
        display: table-row-group;
    }


</style>
<div class="container">
    <div class="well">
        <!--Search Form-->
        <form class="form-inline">

            <div class="form-group">
                <label for="Prize Type">Prize Type:</label>
                <!--<select class="form-control" ng-model="vm.PrizeType" ng-init="vm.price[0].id">

                <option ng-repeat="items in vm.Price" value="{{items.id}}">{{items.name}}</option>

                   </select>-->
                <select class="form-control"
                        ng-init="vm.currentPrizeType = vm.Price[0].value"
                        ng-model="vm.currentPrizeType"
                        ng-options="option.value as option.name for option in vm.Price"></select>
            </div>
            <div class="form-group" style="margin-left:25px" ;>
                <label for="Game Type">Game Type:</label>

                <!--<select class="form-control" ng-model="vm.GameType" >

                <option  value="{{items.id}}" ng-repeat="items in vm.Game">{{items.name}}</option>

                  </select>-->
                <select class="form-control"
                        ng-init="vm.gameType = vm.Game[0].value"
                        ng-model="vm.gameType"
                        ng-options="option.value as option.name for option in vm.Game"></select>
            </div>
            <div class="form-group" style="margin-left:25px" ;>
                <!--<input type="text" ng-model="vm.Location" class="form-control" placeholder="Enter Location">-->
                <news-location ng-hide="true" clear-text="vm.ClearText" ng-model="vm.LocationId" on-select-location="vm.onSelectLocation(locationId)"></news-location>
            </div>
            <!--<div class="form-group" style="margin-left:25px" ;>-->
            <div class="form-group">
                <label for="Date Range">Date Range</label>
                <!--<date-range-pick></date-range-pick>-->
                <news-date class="dateCtrl" range="true" on-date-select="vm.onDateRangeChange(startDate, endDate)"></news-date>

            </div>

            <div class="form-group" style="margin-left:25px" ;>

                <button type="button" class="btn btn-primary btn-sm" ng-click="vm.Apply(vm.startDate,vm.endDate,vm.currentPrizeType,vm.gameType,vm.LocationId)">Apply</button>


            </div>
            <div class="form-group" style="margin-left:40px" ;>
                <label for="Name">Name:</label>

                <input type="text" ng-model="vm.Name.selfie.name" class="form-control" placeholder="Enter Name">

            </div>
        </form>
        <!--Search Form Finish-->
    </div>

    <!--SearchTextBox-->
    <div style="border:1px solid #e3e3e3; padding:1%; background-color:white; margin-bottom:15px;">
        <div style="width: 430px;border: 1px dashed grey;display: inline-flex;margin-left:1px;margin-bottom:5px;" ng-repeat="records in vm.records | filter:vm.Name">
            <img ng-src="http://{{records.selfie.bolSelfieUrl}}" alt="{{records.selfie.name}}" style="width:180px;height:180px; box-shadow:1px 1px 1px black;">
            <ul class="list-group" style="margin-top:2%; margin-left:5%; font-size:100%;">

                <!--Name-->
                <li class="list-group-item" style="text-align:left;" ng-switch="records.selfie.name">

                    <div ng-switch-when="null">
                        <b> Name: -</b>
                    </div>
                    <div ng-switch-when="">
                        <b> Name: -</b>
                    </div>
                    <div ng-switch-default>
                        <b> Name: {{records.selfie.name}} </b>
                    </div>
                </li>
                <!--Location-->
                <li class="list-group-item" style="text-align:left;" ng-switch="records.selfie.location">

                    <div ng-switch-when="null">
                        <b> Location: -</b>
                    </div>
                    <div ng-switch-when="">
                        <b> Location: -</b>
                    </div>
                    <div ng-switch-default>
                        <b> Location: {{records.selfie.location}}</b>
                    </div>
                </li>
                <!--Contact No-->
                <li class="list-group-item" style="text-align:left;" ng-switch="records.selfie.contactNo">
                    <div ng-switch-when="null">
                        <b> Contact No: -</b>
                    </div>
                    <div ng-switch-when="">
                        <b> Contact No: -</b>
                    </div>
                    <div ng-switch-default>
                        <b> Contact No: {{records.selfie.contactNo}}</b>
                    </div>
                </li>
                <!--Media Source Type-->
                <li class="list-group-item" style="text-align:left;" ng-switch="records.selfie.mediaSourceType">
                    <div ng-switch-when="1">
                        <b> MediaSource: Twitter</b>
                    </div>
                    <div ng-switch-when="2">
                        <b> MediaSource: Facebook</b>
                    </div>
                    <div ng-switch-when="3">
                        <b> MediaSource: Email</b>
                    </div>
                    <div ng-switch-when="4">
                        <b> MediaSource: Whatsapp</b>
                    </div>
                    <div ng-switch-default>
                        <b> MediaSource: -</b>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <!--SearchTextBoxEnd-->

    <br />
</div>
<div ng-show="vm.Loader == true" class="overlayy">
    <div class="loader"></div>
</div>