﻿<!--<div class="inputRow onlyOne news-category" style="float:left;margin: 10px 30px 0 0;">
    <select data-placeholder="Select Guest..." class="chosen-select-deselect" style="width:200px;"></select>
</div>-->


<div class="inputRow multipleTokken">
    <select style="width:200px;" data-placeholder="Enter Celebrity..." ng-model="bindedModel" class="chosen-select-deselect"></select>

</div>