<!-- <div class="blankScreen" style="display: none">
    <i class="x-image-placeholder"></i>
</div>

<div class="uploadedData">
    <ul class="mainFootage">
        <li class="selected">
            <i class="x-playbut"></i><img src="../../assets/images/mediareport4.jpg" width="113" height="68" alt="" />
            <span class="x-close"></span>
        </li>
        <li class="selected">
            <img src="../../assets/images/mediareport.jpg" width="113" height="68" alt="" />
            <span class="x-close"></span>
        </li>
        <li>
            <i class="x-playbut"></i><img src="../../assets/images/mediareport3.jpg" width="113" height="68" alt="" />
            <span class="x-close"></span>
        </li>
        <li>
            <i class="x-playbut"></i><img src="../../assets/images/mediareport4.jpg" width="113" height="68" alt="" />
            <span class="x-close"></span>
        </li>
        <li class="selected">
            <i class="x-playbut"></i><img src="../../assets/images/mediareport4.jpg" width="113" height="68" alt="" />
            <span class="x-close"></span>
        </li>
        <li class="selected">
            <img src="../../assets/images/mediareport.jpg" width="113" height="68" alt="" />
            <span class="x-close"></span>
        </li>
        <li>
            <i class="x-playbut"></i><img src="../../assets/images/mediareport3.jpg" width="113" height="68" alt="" />
            <span class="x-close"></span>
        </li>
        <li>
            <i class="x-playbut"></i><img src="../../assets/images/mediareport4.jpg" width="113" height="68" alt="" />
            <span class="x-close"></span>
        </li>

    </ul>
</div> -->
<style type="text/css">
    .thumb {
        width: 24px;
        height: 24px;
        float: none;
        position: relative;
        top: 7px;
    }
</style>
<ul layout="row" layout-align="center center" class="uploadButtons">
    <li flex>
        <i class="x-badal"></i> Upload
        <strong style="display:none;">{{totalFiles.length}}</strong>
        <input type="file" name="" ngf-select="uploadFiles($files, $invalidFiles)" multiple
               accept="image/*,audio/*,video/*" ngf-max-height="1000" ngf-max-size="1MB" />
    </li>
    <li flex ng-click="showIframe()"><i class="x-badal2"></i> San <strong style="display:none;">05</strong></li>
</ul>
<div class="uploadedData">
    <br><br>
    <ul class="mainFootage">
        <li ng-repeat="f in totalFiles" ng-click="openResourceViewer(f)" style="font:smaller" class="selected" ng-class="{uploading : f.progress < 100 || !f.progress}">
            <a href="javascript:;"><img ng-src="{{f.thumbUrl}}" width="113" height="68" alt="" /></a>
            <!--<span class="progressBar" data-fill="50%"><i style="width:{{f.progress}}%"></i></span>-->
            <i class="x-close" ng-click="DeleteResource($event,f)"></i>
        </li>
        <li ng-repeat="f in errFiles" style="font:smaller">
            {{f.name}} {{f.$error}} {{f.$errorParam}}
        </li>
    </ul>
    {{errorMsg}}    
</div>
