
<figure data-imgsrc="{{guest.GuestImage}}">
    <img ng-if="guest.GuestImage" alt="" ng-src="{{guest.GuestImage}}"></figure>
<h3>{{guest.guestName}}</h3>
<ul>
    <li>{{guest.programName}}</li>
    <li>{{guest.Anchor}}</li>
    <li>{{guest.guestStartTime}} - {{guest.guestEndTime}}</li>
    <li class="alternate">{{guest.mediumText}} <span ng-if="guest.HasAlternate==true">Alternate</span></li>
</ul>
<!--<guest-list-item guests-item="guest"></guest-list-item>-->
