﻿<div class="blankScreen" ng-class="filledDetailType==true?'dnone':''">
    <i class="x-call-2"></i>
    <h5>Select a Guest</h5>
    <h6>to view details</h6>
</div>

<div class="detailsSec addScroll" ng-class="filledDetailType==true?'':'dnone'" data-scrollheight="header spacingRow" style="overflow-y:scroll;">
    <p class="time">Time Remaining <span>{{currentGuestData.RemainingGuestDate}}<span ng-if="currentGuestData.RemainingGuestDate >= 0">Day(s) - </span>{{currentGuestData.RemainingGuestTime}}</span></p>
    <div class="topHead">
        <div class="infoSec">
            <ul>
                <li>
                    <label><h6>Guest Status</h6></label>
                    <span class="pending" ng-class="currentGuestData.StatusClass">{{currentGuestData.GuestStatus}}</span>
                </li>
                <li>
                    <label>Show</label>
                    <p>{{currentGuestData.programName}}</p>
                </li>
                <li>
                    <label>Anchor</label>
                    <p>{{currentGuestData.Anchor}}</p>
                </li>
                <li>
                    <label>Date and Time</label>
                    <p>{{currentGuestData.Date}} - {{currentGuestData.guestStartTime}} - {{currentGuestData.guestEndTime}}</p>
                </li>
            </ul>
        </div>
    </div>
    <div class="topListing">
        <ul>
            <li>
                <span class="statusDv">Primary</span>
                <div class="topListBox">
                    <i class="x-close openSB closeActi" ng-click="altClose(currentGuestData)" ng-show="currentGuestData.Status != 2 && !currentGuestData.HideTickCross"></i>
                    <i class="x-check openSB checkActi" ng-click="altOpen(currentGuestData)" ng-show="currentGuestData.Status != 2 && !currentGuestData.HideTickCross"></i>
                    <figure data-imgsrc="{{currentGuestData.Guid}}"></figure>
                    <h2>{{currentGuestData.guestName}}</h2>
                    <h3>
                        {{currentGuestData.Designation}}<br>
                        <a>{{currentGuestData.Phone || 'Phone # N/A'}}</a><br><!--Nahi Hai-->
                        {{currentGuestData.mediumText}}
                    </h3><!--Nahi Hai-->
                    <h4>Questions</h4>
                    <p>{{currentGuestData.Question}}<!--<span class="moreBtn">more</span>--></p>
                </div>
            </li>

            <li class="alternateUser" ng-if="currentGuestData.AlternateGuests.length >0">
                <span class="statusDv">Alternate</span>
                <div class="topListBox" ng-repeat="ag in currentGuestData.AlternateGuests">
                    <i class="x-close openSB closeActi" ng-click="altClose(ag)" ng-show="ag.Status != 2 && ag.IsParentApproved == false && !currentGuestData.HideTickCross"></i>
                    <i class="x-check openSB checkActi" ng-click="altOpen(ag)" ng-show="ag.Status != 2 && ag.IsParentApproved == false && !currentGuestData.HideTickCross"></i>
                    <figure data-imgsrc="{{ag.Guid}}"></figure><!--NAhi h-->
                    <h2>{{ag.guestName}}</h2>
                    <h3>
                        {{ag.Designation}}<br>
                        <a>{{ag.Phone || 'Phone # N/A'}}</a><br>
                        {{ag.guestData}}
                    </h3>
                    <h4>Questions</h4>
                    <p>{{ag.Question}}<!--<span class="moreBtn">more</span>--></p>
                </div>
            </li>
        </ul>
    </div>
</div>

<div class="overlay"></div>
<div class="rightSideBar">
    <div class="infoRight disTable">
        <div class="disCell">
            <h2><span>Schedule Guest</span>{{CurrentGuest.guestName}}</h2>
            <hr>
            <div class="callToAction">
                <label>Action</label>
                <button class="checkit checkActi" data-targetit="box-checkitBox"><i class="x-check"></i></button>
                <button class="closeit closeActi" data-targetit="box-closeitBox"><i class="x-close"></i></button>
            </div>
            <hr>
            <div class="box-checkitBox checkitBox checkActi">
                <p>Update Requested Mode</p>
                <!--ng-init="item = mediumOptions[0].value"--> 
                <select ng-init="item = mediumOptions[0].value" 
                       ng-selected="item = CurrentGuest.curnMd"
                       ng-change="selectionUpdate(item)" ng-model="item" 
                       ng-options="option.value as option.name for option in mediumOptions">
                </select>
                <button class="updateit" ng-click="ScheduledGuest(CurrentGuest,2)">Update</button>
            </div>
            <div class="box-closeitBox closeitBox closeActi">
                <p>Comment</p>
                <textarea ng-model="rejectComment" placeholder="Enter Comment..."></textarea>
                <button class="updateit" ng-click="ScheduledGuest(CurrentGuest,1)">Save</button>
            </div>
        </div>
    </div>
</div>