<!--<div class="nav">
    <ul>
      <li> <a href="#"><md-icon class="x-home"></md-icon></a> </li>
        <li ng-repeat="item in menuItems" class="{{item.Active ? 'active':''}}">
            <a href="javascript:;" ng-click="navigate(item)">{{item.text}}</a>
        </li>
    </ul>
</div>-->

<nav>
    <ul>
        <li ng-repeat="item in menuItems" class="{{item.Active ? 'active':''}}">
        <a href="javascript:;" ng-click="navigate(item)" class="{{item.Active ? 'active':''}}">{{item.text}}</a>
        </li>
    </ul>
</nav>