﻿<div class="langToggler lfl {{(butAct==1) ? 'ur' : 'en'}}">
  <md-button class="en" ng-click="languageChange(1)" aria-label="English Language">
    <md-icon class="x-toggle-eng"></md-icon>
  </md-button>
  <md-button class="ur" ng-click="languageChange(2)" aria-label="Urdu Language">
    <md-icon class="x-toggle-urdu"></md-icon>
  </md-button>
  <span>Ctrl + Space</span>
</div>

<ul class="langSwitch tabController">
  <li class="active urduDv" data-target="box-urdu" ng-click="languageChange('ur')">اردو</li>
  <li data-target="box-english" ng-click="languageChange('en')">Eng</li>
</ul>

<!--<ul class="langSwitch lang-{{butAct}}" ng-hide="showOptions">-->
  <!--<li class="{{(language.key == 1) ? 'urduDv' : 'engDv'}}" ng-repeat="language in languages" ng-click="languageChange(language.key)">-->
    <!--{{(language.key == 1) ? 'اردو' : 'Eng'}}-->
  <!--</li>-->
<!--</ul>-->

<!--<ul class="" ng-hide="showOptions">-->
  <!--<li ng-repeat="language in languages"><a href="javascript:;" ng-click="languageChange(language.key)">{{language.label}}</a></li>-->
<!--</ul>-->

<div class="box-urdu editBox urduDv">
  <div class="inputRow">
    <input type="text" placeholder="عنوان" ng-model="editingInside.title">
  </div>
  <div class="inputRow">
    <textarea rows="2" placeholder="خاص بات" ng-model="editingInside.oneLiner"></textarea>
  </div>
  <div class="inputRow">
    <textarea rows="4" placeholder="تفصیل" ng-model="editingInside.detail"></textarea>
  </div>
</div>
<div class="box-english editBox" style="display: none">
  <div class="inputRow">
    <input type="text" placeholder="Title" ng-model="editingInside.title">
  </div>
  <div class="inputRow">
    <textarea rows="2" placeholder="Special" ng-model="editingInside.oneLiner"></textarea>
  </div>
  <div class="inputRow">
    <textarea rows="11" placeholder="Description" ng-model="editingInside.detail"></textarea>
  </div>
</div>
