﻿<style>
    .news-category .selection input{
        width:100% !important;
    }
    .news-category .selection li.select2-search{
         width:100% !important;
    }
</style>
<div class="inputRow onlyOne news-category">
    <select data-placeholder="News Category or Beat" multiple class="chosen-select-deselect" style="width:100%;">
    </select>
</div>