﻿
<section class="sideDiv" ng-if="!isPopup">
    <div class="newsDetail">
        <header>
            <div class="sideImg">
                <figure><img ng-src="{{newsDetail.ImageUrl}}"></figure>
            </div>
            <h3 class='txt_title' ng-bind="newsDetail.Title"> </h3>
            <p ng-bind="newsDetail.Slug"></p>
            <p class="btmline">ARY News bureau office in Karachi in August.</p>
            <ul class="details">
                <li ng-if="newsDetail.Categories[0].Category">{{newsDetail.Categories[0].Category}}</li>
                <li ng-if="newsDetail.Created">{{newsDetail.Created}}</li>
                <li ng-if="newsDetail.Source">{{newsDetail.Source}}</li>
                <!--<li ng-bind="newsDetail.Source"></li>
                <li ng-bind="newsDetail.Source"></li>-->
            </ul>
        </header>
        <section>
            <div class="scrollDv" ng-scrollbars ng-scrollbars-update="updateScrollbar3">
                <header>
                    <h3 ng-bind="newsDetail.Highlight"></h3>
                </header>
                <article>
                    <p ng-if="newsDetail.Source != 'Google News'" ng-bind="newsDetail.Description"></p>
                    <p ng-if="newsDetail.Source === 'Google News'" id="google_html"></p>
                </article>
                <div class="mediaAttach">
                    <ul>
                        <li class="img first" ng-repeat="opt in newsDetail.Resources">
                            <a href="#"><img ng-src="{{opt.ImageUrl}}"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
    </div>
</section>
<div class="newsDetail2" ng-if="isPopup">
    <header>
        <div class="sideImg">
            <figure><img ng-src="{{newsDetail.ImageUrl}}"></figure>
        </div>
        <h3 ng-bind="newsDetail.Title" class="{{(newsDetail.LanguageCode == 'ur') ? 'urdulang' : ''}}"></h3>
        <p class="btmline {{(newsDetail.LanguageCode == 'ur') ? 'urdulang' : ''}}" ng-bind="newsDetail.Slug"></p>
        <ul class="details">
            <li ng-if="newsDetail.Categories[0].Category">{{newsDetail.Categories[0].Category}}</li>
            <li ng-if="newsDetail.Created">{{newsDetail.Created}}</li>
            <li ng-if="newsDetail.Source">{{newsDetail.Source}}</li>
            <!--<li>Politics</li>-->
            <!--<li>Islamabad Bureau</li>-->
            <!--<li>2 mins ago</li>-->
            <!--<li>Karachi</li>-->
        </ul>
        <div class="rightButtons">
            <md-button class="buttonRound done" ng-show="newsDetail.IsVerified"><md-icon class="x-check"></md-icon></md-button>
            <md-button class="orange buttonRound" style="background-color:#f79646" data-news-type="news" ng-show="newsDetail.NewsStatus == 3">N</md-button>
            <md-button class="blue buttonRound" style="background-color:#8eb4e3;" data-news-type="alerts" ng-show="newsDetail.NewsStatus == 2">A</md-button>
            <md-button class="red buttonRound" data-news-type="breaking" ng-show="newsDetail.NewsStatus == 1">B</md-button>
        </div>
    </header>
    <section>
        <div class="scrollDv">
         
            <header ng-if="newsDetail.Highlight">
                <h3 ng-bind="newsDetail.Highlight" class="{{(newsDetail.LanguageCode == 'ur') ? 'urdulang' : ''}}"></h3>
            </header>
            <article ng-if="newsDetail.Description">
                <p ng-if="newsDetail.Source != 'Google News'"  ng-bind="newsDetail.Description" class="{{(newsDetail.LanguageCode == 'ur') ? 'urdulang' : ''}}"></p>
                <p ng-if="newsDetail.Source === 'Google News'" id="google_html" class="{{(newsDetail.LanguageCode == 'ur') ? 'urdulang' : ''}}"></p>
            </article>
            <div class="newsEvent" style="position:relative;left:10px;" ng-show="newsDetail.EventType">

                <style>
                    .feedBackPop .newsDetail2>section .detailtype2{border-top:1px solid #ddd; border-bottom:1px solid #ddd; margin-top: -1px;}
                    .feedBackPop .newsDetail2>section .detailtype2 div{padding:10px 10px 5px; font-size:12px; width:150px;}
                    .feedBackPop .newsDetail2>section .detailtype2 div+div{width:auto;}
                    .feedBackPop .newsDetail2>section .detailtype2 div p{display:inline-block; background:#fc6068; color:#fff; border-radius: 20px; padding: 3px 10px; line-height: 17px; margin: 0px 5px 5px 0px;}
                </style>

                <div layout="row" class="detailtype2">
                    <div>Coverage:</div>
                    <div>
                        <p ng-show="newsDetail.Coverage">Recording</p>
                        <p ng-show="!newsDetail.Coverage">Live</p>
                    </div>
                </div>


                <div layout="row" class="detailtype2">
                    <div>Event Resource Type:</div>
                    <div>
                        <p ng-show="evtResource.EventResourceType == 1">Belt Pack</p>
                        <p ng-show="evtResource.EventResourceType == 0 || !evtResource.EventResourceType">DSNG</p>
                    </div>
                </div>


                <div layout="row" class="detailtype2">
                    <div>Event Reporters:</div>
                    <div>
                        <p ng-repeat="evtReporter in newsDetail.EventReporter">{{evtReporter.Name}}</p>
                    </div>
                </div>

                <div layout="row" class="detailtype2">
                    <div>EventType:</div>
                    <div>
                        <p>{{newsDetail.EventTypeName}}</p>
                    </div>
                </div>
               
                <div layout="row" class="detailtype2">
                    <div>Event Date:</div>
                    <div>
                        <p>{{newsDetail.PublishTimeStr}}</p>
                    </div>
                </div>

            </div>

            <div class="newsEvent" style="position:relative;left:10px;">

                <style>
                    .feedBackPop .newsDetail2 > section .detailtype2 {
                        border-top: 1px solid #ddd;
                        border-bottom: 1px solid #ddd;
                        margin-top: -1px;
                    }

                        .feedBackPop .newsDetail2 > section .detailtype2 div {
                            padding: 10px 10px 5px;
                            font-size: 12px;
                            width: 150px;
                        }

                            .feedBackPop .newsDetail2 > section .detailtype2 div + div {
                                width: auto;
                            }

                            .feedBackPop .newsDetail2 > section .detailtype2 div p {
                                display: inline-block;
                                background: #fc6068;
                                color: #fff;
                                border-radius: 20px;
                                padding: 3px 10px;
                                line-height: 17px;
                                margin: 0px 5px 5px 0px;
                            }
                </style>


                <div class="detailtype2" ng-show="newsDetail.TaggedUser">
                    <div>Tagged By:</div>
                    <div>
                        <p>{{newsDetail.TaggedUser}}</p>
                    </div>
                </div>

                <div class="detailtype2" ng-show="newsDetail.Tags && newsDetail.Tags.length > 0">
                    <div>News Files Tags:</div>
                    <div>
                        <p ng-repeat="tag in newsDetail.Tags">{{tag.Tag}}</p>
                    </div>
                </div>

                <div class="detailtype2" ng-show="newsDetail.Organization && newsDetail.Organization.length > 0">
                    <div>Entities Tags:</div>
                    <div>
                        <p ng-repeat="orgs in newsDetail.Organization">{{orgs.Name}}</p>
                    </div>
                </div>

            </div>
            <div class="mediaAttach">
                <ul>
                    <li class="img first" ng-repeat="opt in newsDetail.Resources" ng-click="openViewer(opt)">
                        <a href="javascript:;"><img ng-src="{{opt.ImageUrl}}"></a>
                    </li>
                </ul>
            </div>
        </div>
    </section>
</div>

<image-viewer ng-if="showImageViewer" selected-resource="selectedResource" all-resources="allResources" on-close="closeViewer()"></image-viewer>
