<style>
    /*.auto-width li {*/
    /*width: auto !important;*/
    /*}*/
</style>
<div class="newsRow {{smallView ? 'type3':''}}" ng-class="{'breaking':news.NewsStatus == 1 }" layout="row" layout-align="center center">
    <div flex>
        <div class="content" ng-click="selectNews($event)">
            <news-list-item type="{{type}}" news-item="news"></news-list-item>
        </div>
    </div>
    <!-- My News and Assignment-->
    <div ng-if="type == 'my_news_assignments'">
        <div class="mediaAttach">
            <ul>
                <li class="img first" ng-repeat="res in news.Resources">
                    <a href="#"><img ng-src="{{res.ImageUrl}}" alt="" /></a>
                </li>
                <li class="allFiles" style="{{news.styl}}">
                    <strong>{{news.resCount}}</strong>
                    <span>Media Files</span>
                </li>
            </ul>
        </div>
    </div>
    <!-- My News and Assignment-->
    <!-- News Reviewed-->
    <div class="ritButns" ng-if="type == 'news_reviewed'">
        <div class="verifButs">
            <md-button class="verify">
                <md-icon class="x-check"></md-icon>
                <span>Verify</span>
            </md-button>
            <md-button class="notverify">
                <md-icon class="x-close"></md-icon>
                <span>Not Verify</span>
            </md-button>
        </div>
        <div class="buts">
            <md-button class="orange" data-news-type="news">N</md-button>
            <md-button class="blue" data-news-type="alerts">A</md-button>
            <md-button class="red" data-news-type="breaking">B</md-button>
        </div>
        <div class="editButton">
            <md-button><i class="x-edit"></i></md-button>
        </div>
    </div>
    <!-- News Reviewed-->
    <!-- Program News Reviewed-->
    <div class="ritButns" ng-if="type == 'program_news_reviewed'">
        <div class="buts">

            <label ng-mouseover="getBroadcastNewsDetail(news.ParentId || news.NewsFileId)"
                   data-xtooltip="{{tooltipText || 'Loading...'}}"
                   ng-show="{{showBroadcastCount == true && news.BroadcastedCount > 0}}" class="count">
                {{news.BroadcastedCount}}
            </label>
            <label ng-show="{{news.NewsStatus == 3}}" class="green">N</label>
            <label ng-show="{{news.NewsStatus == 2}}" class="blue">A</label>
            <label ng-show="{{news.NewsStatus == 1}}" class="red">B</label>
            <label class="verified {{news.IsVerified ? 'on' : 'off'}}">
                <i class="x-check"></i>
            </label>
        </div>
    </div>
    <!-- Program News Reviewed-->
    <!-- TAGGED NEWS-->
    <div class="ritButns" ng-if="type == 'tagged_news'">
        <div ng-hide="true" class="verifButs">
            <md-button class="verify">
                <md-icon class="x-check"></md-icon>
                <span>Verify</span>
            </md-button>
            <md-button class="notverify">
                <md-icon class="x-close"></md-icon>
                <span>Not Verify</span>
            </md-button>
        </div>
        <div ng-hide="true" class="buts">
            <md-button class="orange" data-news-type="news">N</md-button>
            <md-button class="blue" data-news-type="alerts">A</md-button>
            <md-button class="red" data-news-type="breaking">B</md-button>
        </div>
        <div class="editButton">
            <md-button><i class="x-edit"></i></md-button>
        </div>
    </div>
    <!-- TAGGED NEWS-->
    <!-- Program Manager - list 1 -->
    <div ng-if="type == 'news'" class="wd-px9">
        <!--<p class="tstamp" ng-bind="ne.time"></p>-->
        <p class="tstamp">2 mins ago</p>
    </div>
    <div ng-if="type == 'news'" class="ritButns wd-px17">
        <div class="buts">
            <!--<label class="verified {{ne.verified ? 'on' : 'off'}}">Verified</label>-->
            <!--<label ng-show="(ne.type) && (ne.type == 'A')" class="blue">A</label>-->
            <!--<label ng-show="(ne.type) && (ne.type == 'B')" class="red">B</label>-->
            <!--<label class="grey">N</label>-->
            <md-button class="green" aria-label="Verified">
                <md-icon class="x-check"></md-icon>
            </md-button>
            <md-button class="blue" data-news-type="alerts" aria-label="Alerts">A</md-button>
            <md-menu class="optmenu" md-offset="-10 10" md-position-mode="target-right bottom">
                <md-button aria-label="Channel" ng-click="$mdOpenMenu($event)">
                    <md-icon class="x-filter-menu2"></md-icon>
                </md-button>
                <md-menu-content class="optmenu-drop withArrow">
                    <div class="scrollDv">
                        <md-menu-item>
                            <md-button class="active">
                                <span>Copy Bucket</span>
                                <md-icon class="x-redo"></md-icon>
                            </md-button>
                        </md-menu-item>
                    </div>
                </md-menu-content>
            </md-menu>
        </div>
    </div>
    <!-- Program Manager - list 1 -->
    <!-- Program Manager - list 2 -->
    <div class="ritButns" ng-if="type == 'program-news'">
        <div class="buts">
            <!--<md-button ng-show="{{news.NewsStatus == 2}}" class="blue" data-news-type="alerts" aria-label="Alerts">A</md-button>-->
            <!--<md-button ng-show="{{news.NewsStatus == 1}}" class="red" data-news-type="breaking" aria-label="Breaking">B</md-button>-->
            <label ng-show="{{news.NewsStatus == 2}}" class="blue">A</label>
            <label ng-show="{{news.NewsStatus == 1}}" class="red">B</label>
            <md-button ng-click="deleteProgram($event)" class="del" aria-label="Remove">
                <md-icon class="x-close"></md-icon>
            </md-button>
        </div>
    </div>
    <!-- Program Manager - list 2 -->

</div>

