<figure class="{{newsItem.styleClass}}"><img alt="" ng-src="{{newsItem.ImageUrl}}"></figure>
<!--<h4><span class="{<{news.lang ? 'urdulang' : ''}}">{<{news.title}}</span></h4>-->
<h4><span  class="{{(newsItem.LanguageCode == 'ur') ? 'urdulang' : ''}} txt_title">{{newsItem.Title}}</span></h4>
<!--<ul class="details auto-width" ng-if="onNewsSelect != 'a'">-->
<ul class="details auto-width" ng-if="type != 'program-news'">
  <li ng-if="newsItem.Created" class="tim">{{newsItem.Created}}</li>
    <li ng-if="newsItem.Category" class="cat">{{newsItem.Category? newsItem.Category : newsItem.Categories[0].Category}} </li>
    <li ng-if="newsItem.RerportedBy" class="tim">{{newsItem.RerportedBy}}</li>
    <li ng-if="newsItem.Source" class="src">{{newsItem.Source}}</li>
</ul>
