﻿<style>
    .itemspanel {
        width:800px;
        /*border:1px solid #000;*/
        float:left;
        margin-left: 151px;
        margin-top:20px;
        display: inline-flex;
        padding: 4px 0px 0px 0px;
    }
    .segment-panel {
        width:800px;
        float: left;
        display: inline-flex;
        margin: 0 0px 0 0px;
        padding: 4px 0px 0px 0px;
        margin-left: 151px;
        /*border: 1px solid #000;*/
    }
    .program {
        padding-right: 56px;
    }
    .fromdate {
        padding-right: 56px;
    }
</style>
<div class="segment-panel">

    <div class="program">
        <span>Select Program:</span>
        <!--ng-selected="item = scope.ddl_selectedValue"-->
        <select style="color: black;height: 30px;"
                ng-init="item = mediumOptions[0].value"
                ng-change="selectionUpdate(item)" ng-model="item"
                ng-options="option.value as option.name for option in mediumOptions"></select>
    </div>
    <span style="margin:8px;">Select From/To: </span>
    <div class="fromdate">
        <news-date range="true" class="dateCtrl" on-date-select="vm.onDateRangeChange(startDate, endDate)"></news-date>
    </div>

    <!--<div class="todate">
        <span>Select To:</span>
        <news-date range="false" class="dateCtrl" on-date-select="vm.OnDateSelect(NewDate)"></news-date>
    </div>-->

</div>
<div class="itemspanel">
    <div class="dresscode" style="padding-right:50px;margin-left: 102px;"><span style="margin: 14px 8px 0 0;float: left;">Dress Code: </span><button-switch status="false"><button-switch></div>
    <div class="badgee" style="padding-right:50px;"><span style="margin: 14px 8px 0 0;float: left;">Badge: </span><button-switch status="false"><button-switch></div>
    <div class="mug" style="padding-right:50px;"><span style="margin: 14px 8px 0 0;float: left;">Mug: </span><button-switch status="false"><button-switch></div>
    <div class="glass"><span style="margin: 14px 8px 0 0;float: left;">Glass: </span><button-switch status="false"><button-switch></div>
</div>