﻿<style>
    .user-program .selection input {
        width: 100% !important;
    }

    .user-program .selection li.select2-search {
        width: 100% !important;
    }

   
</style>
<div class="inputRow onlyOne user-program">
    <select data-placeholder="Program" search-enabled="false" class="chosen-select-deselect" style="width:100%;"></select>
</div>

<!--multiple-->