            <!--<p>{{username}}</p>
            <p>{{designation}}</p>
            <figure><img src="{{imageSource}}" alt="dp"></figure>-->

<div class="profileView">
    <h3>{{username}}<br /><p style="font-weight:400 !important;">{{designation}}</p></h3>
    <figure data-imgsrc="{{imageSource}}"></figure>
    <i class="x-angle-down"></i>
</div>
