body > header{
  background: #fff; box-shadow: 0 0 10px rgba(0, 0, 0, 0.15); position: relative; z-index: 10;
  .clearafter;
  > *{
    float: left;
    &.rfl{
      float: right; margin: 10px 30px 0 0; position: relative;
      &:before{
        content: ""; position: absolute; left: -15px; top: 0px; height: 30px; border-left: 1px solid @borderColor1;
      }
      &.dpmenu{margin-top: 0; margin-right: 20px; &:before{top: 10px;}}
    }
  }
  .logo{
    display: block; padding: 0px 0px; padding-left: 10px; min-width: 210px; position: relative;
    &:before{position: absolute; left: 0; top: 0; width: 100%; height: 100%; z-index: 1; content: "";}
    img{margin: 0 0 -5px;}
  }
  .nav{
    ul{
      .clearafter;
      li{
        float: left; margin:0 15px; color: @baseTxtColor; border-bottom: 4px solid transparent; .trans;
        a{
          display: block; .para(inherit, 13px, 0 0 -4px, 18px 0px); text-transform: uppercase;
          &:hover{text-decoration: none;}
          md-icon{
            font-size: 22px;
            color: #a5a5ae;
            line-height: 22px;
            margin: -6px 0px;
            min-width: 50px;
            text-align: center;
          }
        }
        &.active, &:hover{
          color: @headColor1; border-color: @headColor1;
        }
      }
    }
  }
  .dpinfo{
    &.noBdr{
      &:before{
        display: none;
      }
    }
    padding-right: 40px; margin-top: 14px; cursor: default; .noselect;
    &:before{top: -5px}
    p{
      .para(@baseTxtColor, 11px, 0, 0); text-align: right;
      &+p{font-size: 9px; color: #c2c2cc;}
    }
    figure{
      width: 30px; height: 30px; overflow: hidden; border-radius: 50px; position: absolute; right: 0px; top: -4px;
      img{width: 135%; position: absolute; left: -6px; top: -3px;}
    }
  }
  .notif{
    .bellico{
      .para(@baseTxtColor, 20px, 4px 0 0, 0); left: -4px; position: relative; cursor: pointer;
      span{
        position: absolute; right: -10px; top: 0px; background: @headColor1; border-radius: 40px; .para(#fff, 9px, 0, 3px); line-height: 10px;
      }
    }
  }
}
