.newsRow {
	padding: 10px 0px; border-bottom: 1px solid @borderColor1; cursor: pointer; position: relative; z-index: 0;
	//box-shadow:20px 10px 25px -20px #ccc inset;
	.content {
		padding: 9px 0px; padding-left: 80px; position: relative;
		figure {
			width: 50px; height: 50px; border-radius: 50%; overflow: hidden; position: absolute; left: 20px; top: 0px;
			img {width: 200%; position: absolute; left: -25px; top: -2px; height: auto; }
		}
		h4 {
			.para(@headColor3, 13px, 0, 0);
			span { display: inline-block; max-width: 100%; line-height: 17px; margin: -1px 0px; .ellipsis; }
			.urdulang { .urdu-nafees; font-weight: bold; .para(darken(@baseTxtColor, 20%), 14px,  -5px 0px, 0); line-height: 25px; }
		}
		.details {
			.ellipsis; white-space: nowrap;
			li {
				.para(#9ea8b2, 11px, 0, 0px 7px); vertical-align: middle; display: inline-block; padding-left: 0px; box-sizing: initial; max-width: 30%; overflow: hidden; text-overflow: ellipsis;
				+ li { border-left: 1px solid #d8dce0; padding-left: 7px; }
			}
		}
	}
	.ritButns {
		text-align: right;
		> div {
			padding: 0 10px; display: inline-block; border-right: 1px solid lighten(@baseTxtColor, 25%);
			&:last-child { padding-right: 20px; border: none; }
		}
		.buts {
			position: relative; z-index: 2; background: #fff;
			> button:not([disabled]) {
				.para(#fff, 11px, 0 3px, 0); text-align: center; width: 20px; height: 20px; width: 30px; height: 30px; display: inline-block; border-radius: 50%; box-sizing: border-box; border: 0;
				md-icon{.para(inherit, 18px, 0, 0);}
				&:hover { opacity: 0.8; }
				&.red { background: #fc6068; }
				&.orange { background: #f79646; }
				&.blue { background: @bg-blue; }
				&.green{ background: @bg-green; }
				&.buttonEdit{
					vertical-align: middle;
					md-icon{ color: #699de3; font-size: 15px; font-weight: 600; width: 16px; height: 16px; }
					&.md-button:not([disabled]):hover { background: none }
					.md-ripple-container { display: none; }
				}
				&.del{
					color:#666; background: none;
					md-icon{.para(inherit, 13px, 0, 0);}
				}
			}
			> label{
				.para(#a5a5ae, 10px, 0 3px, 4px 0px); line-height: 12px; border-radius: 50px; min-width: 20px; text-align: center; background: #eaeaf0; display: inline-block;
				i{.para(inherit, 11px, 0 3px, 4px 0px);}
				&.verified{
					//border-radius: 2px; min-width: 60px;
					color: #aaa;
					&.on{ background: #7fdab7; color: #fff; }
				}
				&.blue{ background: @bg-blue;color: #fff; }
				&.red{ background: #fc6068; color: #fff; }
				&.green{ background: @bg-green; color: #fff; }
				&.count{background: none; border: 1px solid @headColor1; color: @headColor1; padding: 3px 0;}
			}
		}
		.verifButs {
			display: inline-block; position: relative; z-index: 0; left: 0; .trans(.5s);
			> button:not([disabled]) {
				border: 1px solid @baseTxtColor; border-radius: 20px; width: 110px; .para(@baseTxtColor, 11px, 0 3px, 6px 12px 5px 6px);
				md-icon { .para(inherit, 16px, 0 3px, 0); vertical-align: text-top; .trans; }
				.md-ripple-container { display: none; }
				&:hover { background: none; }
				&.verify {
					&:hover { border-color: @headColor1; color: @headColor1; }
				}
				&.notverify {
					&:hover { border-color: @headColor2; color: @headColor2; }
				}
			}
		}
		.editButton {
			.md-button:not([disabled]) {
				color: #9fabb7; font-size: 27px; border-radius: 0;
				&:hover { background: transparent; color: #fc646c; }
				.md-ripple-container { display: none; }
			}
		}
	}
	.tstamp{.para(@headColor3, 11px, 0, 9px 8px); text-align: center; border-radius: 3px; border:1px solid @borderColor1;}
	&.active {
		background: #ffeff0;
		.ritButns .buts { background: #ffeff0; }
	}
	&.verified {
		.ritButns .verifButs {
			&:before { content: ""; .fxdcenter(absolute); z-index: 2; }
			> button:not([disabled]) {
				&.verify {
					background: @bg-green; border-color: @bg-green; color: #fff; width: 30px;
					&:hover { border-color: @bg-green; color: #fff; }
					md-icon { margin: 0px 10px 0px 0px; }
				}
				&.notverify {
					background: #ececee; border-color: #ececee; color: @baseTxtColor; width: 30px;
					&:hover { border-color: #ececee; color: @baseTxtColor; }
					md-icon { margin: 0px 10px 0px 0px; }
				}
			}
		}
	}
	&.newsMarked {
		.ritButns .buts {
			&:before { content: ""; .fxdcenter(absolute); z-index: 2; }
			> button:not([disabled]) {
				background: #ececee; color: @baseTxtColor;
				&.active { background: @bg-green; color: #fff; }
			}
		}
	}
	&.goaway-verify {
		.ritButns .verifButs { left: 400px; }
	}
	.mediaAttach {
		ul {
			float: right; margin-right: 20px; .trans;
			.clearafter;
			li {
				float: left; margin: 0 6px 0 0; position: relative; overflow: hidden; border-radius: 3px;
				a { display: block; width: 90px;
					img { margin: 0 0 -4px; width: 100%; height: auto; }
				}
				&.vid {
					position: relative;
					&:after { font-family: 'xicons'; content: "\e905"; background: rgba(0, 0, 0, 0.7); position: absolute; left: 0; right: 0; top: 0; bottom: 0; font-size: 26px; text-align: center; padding-top: 6px; color: #ffffff; cursor: pointer;
					}
				}
				&.allFiles {
					text-align: center;
					padding: 6px;
					strong {
						display: block;
						.para(@headColor3, 18px, 0, 0);
					}
					span {
						.para(@headColor3, 11px, 0, 0);
						text-transform: uppercase;
					}
				}
				&.last {
					margin: 0;
				}
			}
		}
	}
	&.type2 {
		.ritButns {
			> div {
				display: none;
				&.editButton { display: inline-block; }
			}
		}
		&:hover .ritButns > div { display: inline-block; }
	}
	&.type3{
		.content{
			padding: 8px 0; padding-left: 55px;
			figure{
				width:30px; height: 30px; left: 15px;
				img{left: -15px;top: 0px;}
			}
			h4{
				font-size: 11px; line-height: 12px;
				.urdulang{font-size:12px; line-height: 22px; margin: -5px 0;}
			}
		}
		.ritButns{
			.buts>button:not([disabled]){ font-size: 11px; line-height: 12px; width: 20px; height: 20px; }
			.optmenu{
				vertical-align: text-bottom;
				>.md-button md-icon{font-size: 16px; line-height: 17px;}
			}
			>div:last-child{padding-right: 10px;}
		}
	}
	&.breaking{
		background: #fff5f5;
		.ritButns .buts{background: #fff5f5;}
	}


}

.newsList {
	height: calc(~"100vh - 111px"); overflow: auto; .trans;
	.dtd { box-shadow: inset 17px 8px 20px -10px #eaeaeb; }
	.newsTopBar {
		.clearafter; background: #f5f5f5; padding: 20px; text-transform: uppercase; color: @headColor3; box-shadow: inset 17px 8px 20px -10px #eaeaeb;
		.left { float: left; }
		.right { float: right; }
		.left, .right {
			.first { border-left: 0; padding-left: 0; margin-left: 0; }
		}
		ul {
			li { display: inline-block; font-size: 13px; color: #ff5a60; text-transform: uppercase; border-left: 1px solid #ff5a60; padding-left: 7px; line-height: 10px; margin-left: 3px; }
		}
	}
	.newsBox {
		.clearafter; position: relative; padding: 20px;
		figure {
			width: 50px; height: 50px; border-radius: 50%; overflow: hidden; position: absolute; left: 20px; top: 20px;
			img { width: 150%; position: absolute; left: -11px; top: -2px; height: 114%; }
		}
		.content { padding-left: 60px; }
		h4 {
			font-size: 13px; color: @headColor3; font-weight: normal; margin: 5px 0 0px 0;
			.urdulang { .urdu-nafees; font-weight: bold; font-size: 11px; line-height: 22px; margin-bottom: -5px; color: darken(@baseTxtColor, 20%); }
		}
		.details {
			.clearafter; font-size: 11px; color: #9ea8b2; margin: 4px 0 18px 0;
			li {
				float: left; border-left: 1px solid #b8bfc7; border-right: 1px solid #d8dce0; padding-right: 4px; padding-left: 4px; line-height: 10px;
				&.first { border-left: 0; padding-left: 0; margin-left: 0; }
				&.last { border-right: 0; }
			}
		}
		p { font-size: 12px; color: @headColor3; line-height: 19px; }
		.rightListing {
			position: absolute; right: 20px; top: 0;
			> button {
				.para(#ffffff, 13px, 22px 8px 0 0, 1px 0 0 0); text-align: center; width: 30px; min-width: 0; min-height: 0; height: 30px; display: inline-block; border-radius: 50%; box-sizing: border-box; border: 0;
				&.red { background: #fc6068; }
				&.orange { background: #fc7a59; }
				&.editButton {
					color: #9fabb7; font-size: 27px; border-radius: 0;
					&.md-button:not([disabled]):hover { background: transparent; color: #fc646c; }
					.md-ripple-container { display: none; }
				}
			}
			.flow {
				margin-top: 27px;
				li {
					display: inline-block;
					.para(#9ea8b2, 11px, 0, 0 10px 0 0);
					.breaking {
						.para(#fc6068, 11px, 0px, 0px 3px);
						border: 1px solid #fc6068;
						border-radius: 2px;
					}
				}
			}
		}
	}
	.reportedMedia {
		.clearafter;
		padding: 20px;
		ul {
			li {
				float: left;
				margin: 0 6px 6px 0;
				img { vertical-align: top; }
				&.placeHolder {
					border: 1px dashed #d8d8db; width: 106px; height: 61px; background: #f5f5f5; text-align: center; cursor: pointer;
					&:before { content: "\e145"; font-family: 'xicons'; font-size: 31px; color: #a5a5ae; position: relative; top: 5px; }
				}
				&.overlayVid, &.vid {
					position: relative;
					&:after { font-family: 'xicons'; content: "\e905"; background: rgba(0, 0, 0, 0.7); position: absolute; left: 0; right: 0; top: 0; bottom: 0; font-size: 26px; text-align: center; padding-top: 11px; color: #ffffff; cursor: pointer;
					}
				}
			}
		}
	}

	&.selectedNews {
		.newsBox {
			border-bottom: 1px solid #ececed; padding: 10px;
			&.active { background-color: #ffeff0; }
			&:hover { cursor: pointer; }
			h4 {
				margin-top: 10px;
			}
			.details { margin-bottom: 10px; }
			figure { top: 12px; }
			.content { padding-left: 70px; }
		}
	}
	.filterTokens{
		display: none; overflow: hidden;
		>ul{
			.clearafter; padding: 12px 15px 4px 12px; background: #f7f7f9; border-bottom: 1px solid @borderColor1; max-height: 150px;
			>li{
				display: inline-block; vertical-align: top; .para(#fff, 11px, 0 1px 5px, 5px 25px 5px 10px); background: #fc7a59; position: relative; border-radius: 15px; cursor: pointer;
				i{ position: absolute; right: 8px; top: 0; bottom: 0; margin: auto; width: 12px; height: 12px; font-size: 12px; }
			}
		}
	}

}

.withSideBar {
	.dtbl{
		.dtd{
			vertical-align: top;
		}
		.dtd+.dtd{
			box-shadow: 20px 10px 25px -20px #ccc inset;

		}
	}
	position: relative; overflow: hidden;
	.sideMenu {
		position: absolute; top: 0; bottom: 0; left: 0; width: 55px; box-shadow: 0px 2px 10px 5px rgba(204, 204, 204, 0.36); z-index: 5; background: #ffffff; .trans;
		ul {
			&.firstList{
				min-height: calc(~"100vh - 122px");
				li {
					min-width: 260px; text-align: left; cursor: pointer; color: #ababb3; font-size: 20px; margin: 0; padding: 5px 5px 5px 52px; min-height: 40px; position: relative; border-left: 3px solid transparent; .trans;
					.icon_edu{ font-size: 16px; top: 16px; }
          &:hover{
						cursor: pointer;
						label{ cursor: pointer; }
          }
					&:hover, &.active, &.subactive {
						color: #ff5a60; border-left: 3px solid #ff5a60; background: #ececee;
						label{ color: #ff5a60; }
          }
					.x-nav-menu { font-size: 22px; }
					>i{
						width: 50px; text-align: center; display: inline-block; margin: 0; position: absolute; top: 9px; left: 0;
					}
					label{
						.para(#a5a5ae, 12px,0 ,0); line-height: 20px; padding:6px 45px 0 0; display: block; position: relative; font-weight: 600;
						i{
							position: absolute; right: 15px; font-style: normal;
						}
					}

				}
			}

		}
		.firstActive { cursor: pointer; color: #ff5a60; font-size: 18px; margin-bottom: 20px; display: block; padding: 15px 15px; text-align: center; border-bottom: 1px solid #ecebf0; }
		.scrollDv {
			height: 100%;
			.mCSB_outside+.mCS-minimal.mCSB_scrollTools_vertical{ opacity: 0; right: -20px; }
			.mCSB_container{ }
		}
		.details{
			position: absolute; top: 0; left: 50px; width: 0%; height: 100%; background: #ececee; .trans;
			ul{
				li{
					cursor: pointer; min-width: 190px; .para(#788087, 11px,0 , 9px 40px 9px 20px); min-height: inherit; border: 0; position: relative;
					&:hover{ background: #f7f7f7; }
					i{ position: absolute; right: 15px; font-style: normal; }
				}
			}
		}
		&:hover{ width: 260px; }
    &.hasChild{
      .details{width: 81%;}
    }
	}
	.newsList { z-index: 2; margin-left: 55px;}
}

.newsSection {
	background: #fff;
	.dtbl {
		.dtd {
			vertical-align: top; border-bottom: 1px solid @borderColor1;
			&.vMiddle { vertical-align: middle; }
			&.reportedMediaSection { border-left: 1px solid @borderColor1; }
		}
	}
	.relatedNews { position: absolute; left: 0; top: 0; width: 50%; height: 100%; z-index: 10; }
	.sideDiv {
		background: #ffffff; width: 500px; position: absolute; top: 0; right: -500px; .trans;
		.newsList {
			box-shadow: 5px 0 10px 0 #eaeaeb; max-height: calc(~"100vh - 174px");
			.newsBox {
				border-bottom: 1px solid #ececed; padding: 10px;
				h4 { margin-top: 10px; }
				figure { top: 12px; }
				.content { padding-left: 70px; padding-right: 70px; }
				.details { margin-bottom: 10px; }
				.x-kachray-ka-dabba { font-size: 30px; color: #9da9b5; position: absolute; right: 20px; top: 0; bottom: 0; margin: auto; height: 30px; cursor: pointer; }
				.notify {
					position: absolute; right: 20px; top: 0; bottom: 0; margin: auto; height: 30px; width: 30px; min-height: 0; min-width: 0; border-radius: 50%; line-height: 30px;
					&.red { color: #ffffff; background: #ff5a60; }
					&.grey { color: #ffffff; background: #9ba8b4; }
					&.orange { color: #ffffff; background: #fc7a59; }
				}
			}
			div[class^="box-"] {
				display: none;
				&.active { display: block; }
				.newsBox {
					padding: 5px;
					figure { width: 40px; height: 40px; }
					.content { padding-left: 65px; padding-right: 60px; }
				}
				.withHeadings {
					padding: 20px;
					> h4 {
						background: #ececee; .para(#ff5a60, 13px, 20px 0 0 0, 15px); font-weight: bold;
						&.first { margin-top: 0; }
					}
					.newsBox {
						figure { left: 0; }
						.content { padding-left: 45px; }
					}
				}
			}
		}
		.reportButton { float: right; margin: 20px 20px 0 0; width: 190px; font-weight: 300; padding: 10px; border-radius: 45px; }

	}
	&.openSide {
		.newsList { margin-right: 500px; border-right: 1px solid #ececed;
			&.editorialSec{
				margin-right: 565px;
			}
		}
		.sideDiv {
			right: 0px;
			.newsList { margin: 0;
			}
		}
		.newsRow {
			.mediaAttach {
				ul { margin-right: -470px; }
			}
		}
	}
	&.reportedNews {
		.x-filter-check01 { font-size: 30px; color: #9da9b5; position: absolute; right: 20px; top: 0; bottom: 0; margin: auto; height: 30px; }
		.content { padding-right: 75px; }
		.selectedNews {
			.newsBox {
				&.active {
					background-color: #e5fcf3;
					.x-filter-check01 { color: #7fdab7; }
				}
			}
		}

	}
	&.editorial {
		.newsList {
			height: calc(~"100vh - 135px");
			margin-left: 0;
			.newsRow {
				border-bottom: 1px solid #ececed; padding: 8px;
				&.disabled {
					background: #f2f2f3;
					.content {
						figure { opacity: 0.5; }
						h4 { color: #bdbed1; }
					}
					.editor-buts {
						button {
							color: #bdbed1; border-color: #bdbed1;
							md-icon { color: #bdbed1; }
						}
					}
				}
				.content {
					padding-left: 60px;
					figure { width: 30px; height: 30px; top: 2px; left: 15px; }
					h4 {
						font-size: 15px; line-height: 17px; color: #696b7e; margin: 0;
						.token { .para(#fefefe, 11px, 0, 3px 7px); background: @headColor1; display: inline-block; border-radius: 2px; text-align: center; position: relative; top: 3px; left: 10px; }
					}
				}
				.editor-buts {
					margin-right: 10px;
					li {
						padding: 0 0 0 10px; margin: 0 0 0 10px; position: relative; border-left: 1px solid #ecebf0; display: inline-block;
						&.first { margin-left: 0; padding-left: 0; border-left: 0; }
					}
					.buttonWrite {
						&.done {
							font-size: 0; background: #7fdab7; border: 1px solid #7fdab7; position: relative; width: 44px;
							&:before { font-family: 'xicons'; position: absolute; content: "\e5ca"; font-size: 14px; left: 0; color: #fff; right: 0; margin: auto; }
						}
						.para(#699de3, 11px, 0, 3px 8px); border: 1px solid #699de3; border-radius: 10px; border: 1px solid #699de3; border-radius: 10px; text-transform: none;
					}
					.buttonMessage {
						&.disabled {
							md-icon { color: #eeeeef; cursor: default; }
						}
						&.orange {
							md-icon {
								color: #fc6f76;
							}
						}
						&.md-button:not([disabled]):hover { background: none }
						md-icon { color: #af7dec; font-size: 20px; }
						.md-ripple-container { display: none; }
					}
					.buttonCounter {
						color: #fc7a59; font-size: 15px; font-weight: 600;
						&.md-button:not([disabled]):hover { background: none }
						.md-ripple-container {
							display: none;
						}
					}
				}
			}
		}
		.tabController {
			&.topHeading {
				background: #f2f2f3;
				li {
					display: inline-block; vertical-align: top; position: relative; padding-right: 70px;
					&.active {
						.counter { color: #fc6068; }
					}
					.counter { position: absolute; right: 15px; top: 12px; font-style: normal; font-weight: bold; color: #a5b1bc; }
				}
			}
		}
		div[class^="box-"] {
			display: none;
			&.active { display: block; }
		}
	}
}

.editorialSec{
	> .dtbl {
		>.dtd {

			vertical-align: top;
			&.vMiddle { vertical-align: middle; }
			.topBar{border-bottom: 1px solid @borderColor1; .dtd{vertical-align: top;}}
			+.dtd{
				box-shadow: 20px 10px 25px -20px #ccc inset;
				border-left: 1px solid @borderColor1;
				.topBar{ border-left: 1px solid @borderColor1; background: #fff; }
			}
		}
	}
	background: #fff;
	.tabSection{
		.topHeading {
			background: #f2f2f3;
			li {
				display: table-cell; vertical-align: top; position: relative; padding:10px 40px 10px 10px; font-size: 12px;
				//&.first{ box-shadow: 20px 10px 25px -20px #ccc inset; }
				&.active { .counter { color: #fc6068; } }
				.counter { position: absolute; right: 10px; top: 10px; font-style: normal; font-weight: bold; color: #a5b1bc; }
			}
		}
		.innrSection{max-height: calc(~"100vh - 228px");
			div[class^="box-"]{
				display: none;
				&.active{
					display: block;
				}
			}
		}

	}
	.newsRow {
		border-bottom: 1px solid #ececed; padding: 5px;
		&.disabled {
			background: #f2f2f3;
			box-shadow: 20px 10px 25px -20px #ccc inset;
			.content {
				figure { opacity: 0.5; }
				h4 { color: #bdbed1; }
			}
			.editor-buts {
				button {
					color: #bdbed1; border-color: #bdbed1;
					md-icon { color: #bdbed1; }
					&:hover{
						color: #bdbed1;
						border-color: #bdbed1;
						background: none;
					}
				}
			}

		}
		.content {
			padding-left: 45px;
			figure { width: 30px; height: 30px; top: 3px; left: 5px; }
			h4 {
				font-size: 14px; line-height: 17px; color: #696b7e; margin: 0;
				.token { .para(#fefefe, 11px, 0, 3px 7px); background: @headColor1; display: inline-block; border-radius: 2px; text-align: center; position: relative; top: 2px; left: 10px; }
			}
		}
		.editor-buts {
			margin-right: 10px;
			li {
				padding: 0 0 0 7px;
				margin: 0px 0 0 5px; position: relative; border-left: 1px solid #ecebf0; display: inline-block;
				&.first { margin-left: 0; padding-left: 0; border-left: 0; }
			}
			.buttonWrite {
				&.done {
					font-size: 0; background: #7fdab7; border: 1px solid #7fdab7; position: relative; width: 44px;
					&:before { font-family: 'xicons'; position: absolute; content: "\e5ca"; font-size: 14px; left: 0; color: #fff; right: 0; margin: auto; }
					&:hover, &.active{
						background: #7fdab7;
					}
				}
				&:hover, &.active{
					background: #699de3;
					color: #ffffff;
				}

				.para(#699de3, 11px, 0, 3px 8px); border: 1px solid #699de3; border-radius: 10px; border: 1px solid #699de3; border-radius: 10px; text-transform: none;
			}
			.buttonMessage {
				&.disabled {
					md-icon { color: #eeeeef; cursor: default; }
				}
				&.orange {
					md-icon {
						color: #fc6f76;
					}
				}
				&.md-button:not([disabled]):hover { background: none }
				md-icon { color: #af7dec; font-size: 20px; }
				.md-ripple-container { display: none; }
			}
			//.buttonEdit{
			//	vertical-align: middle;
			//	md-icon{ color: #699de3; font-size: 15px; font-weight: 600; width: 16px; height: 16px; }
			//	&.md-button:not([disabled]):hover { background: none }
			//	.md-ripple-container { display: none; }
			//}
			.buttonCounter {
				color: #fc7a59; font-size: 15px; font-weight: 600;
				&.md-button:not([disabled]):hover { background: none }
				.md-ripple-container {
					display: none;
				}
			}
		}
	}
	.footerButs{
		padding: 10px; text-align: right; box-shadow: 0px -4px 4px -2px #ccc; position: relative; z-index: 2;
		.md-button:not([disabled]).reportButton{
			md-icon{
				right: 4px;
			}
		}
		.reportButton{padding: 6px 35px 6px 20px;}
		&.disabled{
			.reportButton{
				opacity: 0.6;
				&.grey{ background: #ddd; color: #333; }
			}
			&:before{content:''; .fxdcenter(absolute); z-index: 2;}
		}
	}
	h2{
		background: @headColor1;
		.para(#ffffff, 13px,0,13px);
		text-transform: uppercase;
	}
}
