/* LESS Document */


.newsDetail {
	&.abs { position: absolute; width: 100%; height: 100%; z-index: 10; left: 0; top: 0; }
	> header {
		position: relative; background: #f5f5f5; border-bottom: 1px solid #e3e3e4; min-height: 97px; padding: 15px 15px 40px 145px; box-shadow: 20px 10px 25px -20px #ccc inset;
		.sideImg {
			position: absolute; left: 15px; top: 15px;
			figure { width: 120px; border-radius: 5px;
				img { margin: 0 0 -4px; }
			}
		}
		h3 { .para(#5c656d, 13px, 0 0 5px, 0); line-height: 17px; }
		p {
			.para(@headColor3, 11px, 0 0 5px, 0); line-height: 15px; text-align: justify;
			&.btmline { .para(#9ea4a8, 11px, 0, 0); line-height: 15px; }
		}
		.details {
			position: absolute; left: 0px; bottom: 0px; width: 100%; border-top: 1px solid #ececed; .clearafter;
			li {
				float: left; .para(#9ea4a8, 11px, 0, 8px 15px);
				+ li { border-left: 1px solid #ececed; }
			}
		}
	}
	> section {
		padding: 10px 15px; padding-right: 0px; box-shadow: 20px 10px 25px -20px #ccc inset;
		.scrollDv {
			height: calc(~'100vh - 270px'); overflow: auto;
			.mCSB_container { padding-right: 15px; }
			header {
				padding: 5px 0 15px; border-bottom: 1px solid #e3e3e4;
				h3 { .para(#6b7379, 13px, 0, 0); line-height: 20px; }
			}
			article { padding: 15px 0; }
			p { margin: 0px 0px 10px; text-align: justify; }
			.mediaAttach {
				.clearafter;
				li {
					float: left; margin: 0 6px 6px 0; position: relative; overflow: hidden; border-radius: 3px;
					a { display: block; width: 110px;
						img { margin: 0 0 -4px; width: 100%; height: auto; }
					}
					&.vid {
						position: relative;
						&:after { font-family: 'xicons'; content: "\e905"; background: rgba(0, 0, 0, 0.7); position: absolute; left: 0; right: 0; top: 0; bottom: 0; font-size: 26px; text-align: center; padding-top: 11px; color: #ffffff; cursor: pointer;
						}
					}
				}
			}
		}
	}
}