/* LESS Document */

.editorBox{
	.inputRow{ margin-bottom: 15px; }
	.urduDv{
		input, textarea{ font-size: 16px; padding-top: 5px; padding-bottom: 5px; }
	}
	textarea {
		&::-webkit-scrollbar { width: 4px; }
		&::-webkit-scrollbar-track {}
		&::-webkit-scrollbar-thumb { background-color: #333333; border-radius: 4px; }
		&::-webkit-scrollbar-track-piece{ background: #eaeaeb; border: 0; }
	}

	.select2-results{
		ul{
			&::-webkit-scrollbar { width: 4px; }
			&::-webkit-scrollbar-track {}
			&::-webkit-scrollbar-thumb { background-color: #333333; border-radius: 4px; }
			&::-webkit-scrollbar-track-piece{ background: #eaeaeb; border: 0; }
		}
	}

	.langSwitch{
		.clearafter;
		margin: 0 0 15px;
		li{
			cursor: pointer; .para(#a5a5ae, 13px, 0,0 10px); text-transform: uppercase; float:right; line-height: 11px; border-left: 1px solid #d1d1d2;
			&:hover, &.active{color: #fc6068;}
			&.last{border: 0;}
			&.urduDv{font-size: 17px; margin-top: -3px;}
		}
	}

	.langToggler{
		margin: -14px 0 -8px; position: relative; top: -10px; opacity:0; .trans(.5s);
		> .md-button{
			.para(@headColor1, 29px, 0, 0px); display: none;
			md-icon{color: inherit;}
			&:hover{background: none;}
			.md-ripple-container{display: none;}
		}
		&.en > .md-button.en{display: inline-block;}
		&.ur > .md-button.ur{display: inline-block;}
		> span{position: absolute; left: 100%; top: 12px; white-space: pre; border-left: 1px solid #eee; padding: 0px 10px; margin-left: 14px; line-height: 14px;}
	}
	.togl .langToggler{opacity: 1; top:0px;}

	input, textarea, select{ background:#ffffff; border:1px solid #e3e3e4; padding:10px; border-radius:4px; width:100%; box-sizing: border-box; box-shadow:none; }
	textarea{ resize:none; }
	.dtbl{
		.dtd{
			background:#ffffff; padding:20px; box-sizing: border-box; vertical-align: top;
		}
	}
	.uploadingSection{
		background: #fff; box-shadow: 0px 0 20px 0px #eaeaeb; border: 1px solid rgba(234, 234, 235, 0.7); overflow:hidden; position: relative; padding: 55px 15px 50px 15px;
		.blankScreen{
			width: 100%; height: 300px; position: relative;
			.x-image-placeholder{
				font-size: 52px; font-weight: 400; color: #e3e3e4; position: absolute; top: 0; right: 0; left: 0; bottom: 0; margin: auto; height: 55px; width: 70px;
				&:after{ position: absolute; border: 1px dashed #e3e3e4; width: 165px; height: 100px; content: ''; left: -50px; top: -25px; }
			}
		}
		.imgPlaceholder{
			border: 1px dashed #e3e3e4; padding: 17px; text-align: center;
			i{ font-size: 36px; color: #e3e3e4; }
		}
		footer{
			position: absolute; left: 0; right: 0; bottom: 0; padding: 10px 20px; border-top: 1px solid #e3e3e4; background: #ffffff;
			li{
				float: left; width: 50%;
				&.first{
					span{ color: #a5a5ae; display: block; margin-top: 6px; }
				}
				.reportButton{
					padding: 6px 40px 6px 30px; float: right; border-radius: 20px;
					.x-thumb{ right: 5px; }
					&.completed{
						background: #7fdab7; padding: 7px 16px; font-size: 0;
						.x-thumb{
							font-size: 13px;
							&:before{ color: #7fdab7; }
						}
					}
				}
			}
		}
		.scrollDv{
			max-height: calc(~'100vh - 180px');
			#mCSB_2_scrollbar_vertical{ margin-right: -12px; }
		}
		.uploading{
			position: relative;
			&:before{ content: ''; position: absolute; top: 1px; right: 1px; bottom: 1px; left: 1px; background: rgba(255, 255, 255, 0.7); }
			.progressBar{
				border:1px solid #cbcfd8; background: #ffffff; border-radius: 4px; overflow: hidden; width: 60%; height: 8px; display: block; position: absolute; top: 0; margin: auto; bottom: 0; left: 0; right: 0; box-shadow: 1px 1px 1px #bfc1c3;
				i{ .trans; background: #fc6068; width: 0%; height: 100%; position: absolute; border-top-right-radius: 3px; border-bottom-right-radius: 3px; }
			}
		}
	}
	.formSection{
		box-shadow: inset 11px 0 19px -8px #eaeaeb; background: #ffffff;
		.calenderBar{
			position: relative;
			input{ margin-bottom:0; }
			.x-calender{ cursor: pointer; }
			.x-calender:before { font-size: 18px; }
		}
		.calenderBar i{ position: absolute; right: 11px; top: 0; bottom: 0; margin: auto; height: 18px; width: 18px; }
		.reportButton{width: 100%; display: block;}
		.multipleTokken{
			.select2-container--default {
				.select2-selection--multiple {
					.select2-selection__rendered{
						padding: 5px 5px 40px 5px; position: relative; min-height: 105px;
						li:first-child{
							&:before{ display: none; }
							input{ padding: 9px; }
						}
					}
					.select2-selection__choice{ position: relative; font-size: 10px; color: #fff; background: #fc7a59; border-radius: 15px; padding: 5px 25px 5px 15px; display: inline-block; width: auto; margin: 3px; text-transform: uppercase; }
					.select2-selection__choice__remove{ background: none; right: 4px; top: 3px; }
					.select2-search--inline{
						float: none; clear: both; margin: 0 0 0 -5px; box-sizing: border-box; position: absolute; bottom: 0; width: 100%;
						input{ border-top: 1px dashed #cfd8df; width: 100% !important; z-index: 10; position: relative; padding: 9px 9px 9px 70px; }
						&:before{ content: 'Enter Tags: '; position: absolute; left: 9px; top: 10px; font-size: 11px; }
					}
				}
			}
		}
		.tagsSection{
			background:#ffffff; border:1px solid #e3e3e4; padding:10px 10px 40px 10px; border-radius:4px; width:100%; margin-bottom:15px; box-sizing: border-box; box-shadow:none; min-height: 150px; position: relative; overflow: hidden;
			input{ position: absolute; bottom: 0; left:0; right: 0; margin: 0; border:0; border-top: 1px dashed #cfd8df; border-radius: 0; }
			span{
				position: relative; font-size: 11px; color: #fff; background: #fc7a59; border-radius: 4px; padding: 5px 25px 5px 10px; display: inline-block; margin-right: 10px; margin-bottom: 10px;
				i{ position: absolute; bottom: 0; top: 0; right: 5px; margin: auto; width: 10px; height: 10px; cursor: pointer; }
			}
		}
		.inputRow{
			margin-bottom: 10px;
		}
		.onlyOne{
			.select2-selection__rendered{
				li+li{
					display: none;
				}
			}
		}
		.select2-container {
			.select2-search--inline{
				.select2-search__field{ margin: 0; font-size: 11px; color: #a5a5ae; box-sizing: border-box; padding: 9px; }
			}
		}
		.select2-container--default {
			.select2-selection--multiple{
				border:1px solid #e3e3e4; min-height: inherit;
				.select2-selection__rendered{ display: block; padding: 0; }
				.select2-selection__choice{ margin: 0; background-color: transparent; border: 0; border-radius: 0; width: 100%; font-size: 12px; color: @headColor3; padding: 10px 35px 10px 10px; line-height: 13px; position: relative; }
				.select2-selection__choice__remove{ position: absolute; right: 10px; top: 8px; font-size: 16px; padding-top: 1px; display: block; width: 18px; height: 18px; border-radius: 50%; background: #a5a5ae; text-align: center; font-weight: 300; color: #f2f2f4; margin: 0; box-sizing: border-box; }
			}
		}

	}
	.disableCol{
		position: relative;
		.langSwitch{display: none;}
		.uploadingSection{
			padding: 55px 15px 0px 15px;
			.uploadButtons{
				cursor: default;
				&:before{content: ""; .fxdcenter(absolute); z-index: 20;}
			}
			.uploadedData{
				position: relative;
				&:before{content: ""; .fxdcenter(absolute); z-index: 20;}
			}
			footer{display: none;}
			.scrollDv {
				max-height: calc(~'100vh - 130px');
			}
		}
		.inputRow{
			position: relative;
			input[disabled],textarea[disabled]{background: #ececee;}
			.calenderBar, &.disabled{
				position: relative;
				&:before{content: ""; .fxdcenter(absolute); z-index: 20;}
				input{background: #ececee;}
				> i{display: none;}
			}
		}
	}


	.uploadButtons{
		cursor: pointer; margin: 0; font-size: 12px; color: #a5a5ae; text-transform: uppercase; background: #f3f3f6; position: absolute; width: 100%; left: 0; top: 0; z-index: 10;
		li{
			cursor:pointer; position: relative; text-align: center; border-bottom: 1px solid #ecebf0; .para(#a5a5ae, 13px,0 ,5px 10px 0 10px); overflow: hidden; box-sizing: border-box; height: 41px;
			.trans;
			&.last{ border-left: 1px solid #ecebf0; }
			&:hover{
				background:@headColor1; color:#ffffff;
				.x-badal, .x-badal2{ color:#ffffff; }
				&.active{
					background:@headColor1; color:#ffffff;
					.x-badal, .x-badal2{ color:#ffffff; }
				}
			}
			&.active{
				color: @headColor1;
				.x-badal, .x-badal2{ color:@headColor1; }
			}
			input{ cursor:pointer; position:absolute; top:0; right:0; bottom:0; left:0; opacity:0; margin:0; }
		}
		.x-badal, .x-badal2{ .trans; cursor:pointer; color: #a5a5ae; font-size: 22px; position: relative; display: inline-block; top: 4px; margin-right: 5px; }
		.clearafter;
	}
	.mainFootage, .smallFootage{
		width:105%;
		.clearafter;
		li{
			float: left; width: 44%; margin-bottom:15px; position:relative;
			img{ width:100%; height:auto; border:1px solid #b7b7b7; vertical-align: top; }
			.x-close{ position: absolute; right: 0; top: 0; cursor: pointer; background: rgba(0, 0, 0, 0.5); }
			&.selected{
				img{ border:2px solid #fc6068; }
			}
		}

	}
	.mainFootage li{ margin-right:15px; }
	.smallFootage li{ margin-left:15px; }
	.x-playbut{
		position:absolute; font-size: 40px; color: #ebebf0; vertical-align: middle; top:0; right:0; bottom:0; left:0; margin:auto; width:42px; height:42px; cursor:pointer; .trans;
		&:hover{ color:#ffffff; }
	}
	.chosen-choices{
		li{ width:100%; }
	}

	.chosen-container{
		&.chosen-container-single{
			margin-bottom: 15px;
			.chosen-drop{
				margin-top: 0;
			}
			.chosen-single-with-deselect, .chosen-single{
				font-size: 11px; padding: 3px 12px; display: block; height: auto; border-radius: 3px;
				>div{ display: none; }
			}
			.search-choice-close{
				font-size: 0; font-family: @iconFontFamily; color: #000000; top: 0px; right: 9px; bottom: 0; margin: auto; width: 18px; height: 18px; background: #a5a5ae; border-radius: 50%; text-align: center;
				&:before{ content: "\e5cd"; background: none; font-size: 12px; position: relative; top: -3px; color:#f2f2f4; }
				&:hover{ color:transparent; }
				&:hover:before{ color:#ffffff; }
			}
		}
		.chosen-drop{ margin-top: -20px; background:#ffffff; border:1px solid #e3e3e4; box-shadow:none; }
		.chosen-single{ border:1px solid #e3e3e4; box-shadow:none; background:#ffffff; height: auto; }
		.chosen-results{
			font-size: 12px;
			li{
				padding: 4px 10px;
				&.highlighted{ background-color:@headColor1; color:#ffffff; background-image:none; }
			}
		}
	}

	.chosen-container-multi{
		.chosen-choices{
			background:#ffffff; border:1px solid #e3e3e4; padding:3px 10px; border-radius:3px; width:100%; margin-bottom:15px; box-sizing: border-box; box-shadow:none;
			li{
				float:none;
				&.search-choice{
					border: 0; background: none; font-size: 12px; color: @headColor3; box-shadow: none; padding-left:0;
					.search-choice-close{
						font-size: 0; font-family: 'xicons' !important; color: #000000; top: -4px; right: 0; bottom: 0; margin: auto; width: 18px; height: 18px; background: #a5a5ae; border-radius: 50%; text-align: center;
						&:before{ content: "\e5cd"; background: none; font-size: 12px; position: relative; top: 3px; color:#f2f2f4; }
						&:hover{ color:transparent; }
						&:hover:before{ color:#ffffff; }
					}
					&+.search-field{display:none;}
				}
				&.search-field{
					input[type=text]{ font-size:11px; color:#a5a5ae; margin:0; }
				}

			}
		}
	}

	.formSection{
		input{ font-size:11px; color:@headColor3; }
	}
}

.select2-dropdown{ border: 0; }
.select2-results__message{ display: none }
.select2-results__option { padding: 3px 10px; font-size: 12px; border: 1px solid #e3e3e4; border-top: 0;}